.catalog {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.categoryHeader {
    text-align: center;
}
.title {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
}


.sectionTitle {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 16px;
}

.filtersWrapper {
    margin-bottom: 20px;
}

.noResults {
    text-align: center;
    padding: 40px;
    font-size: 1.2rem;
    color: #555;
    background-color: #f9f9f9;
    border-radius: 12px;
}